$ruler: 16px;
$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;

body,
html {
  background-color: $color-bg;
  line-height: 1;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: #000 dotted 1px;
  outline-offset: 0.05em;
}

body,
p,
input,
select,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: $ruler;
}

i {
  color: $color-red;
  font-weight: 600;
}

select {
  padding: $ruler;
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  background-color: $color-bg;
  border: none;
  &[multiple] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

#app {
  padding: 15px 0;
}

form {
  padding: $ruler;
  width: 90%;
  margin: 0 auto;
  h1 {
    margin: 0;
    font-size: calc(1vw + 1em);
    text-align: center;
    color: $color-red;
    line-height: 1.6;
  }
  h3 {
    text-align: left;
    color: #000;
    font-size: 1em;
    @media (min-width: 425px) {
      font-size: 1.3em;
    }
  }
  p {
    text-align: center;
  }
}

.form-segments {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: $ruler 0;
  @media (min-width: 962px) {
    flex-direction: row;
    padding: $ruler * 2 0;
  }
}

.segment {
  flex: 1 1 auto;
}

button,
input {
  border: 0;
  font-size: $ruler;
  border-radius: 0px;
  padding: $ruler;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: $ruler * 1.1;
  width: 100%;

  span {
    color: #000;
    margin-bottom: 8px;
  }

  &.checkbox {
    flex-flow: wrap-reverse;
    align-items: center;
    cursor: pointer;

    span {
      margin-bottom: 0px;
    }
  }

  .error {
    display: none;
  }

  &.error-item {
    .error {
      display: block;
      color: $color-red;
      font-size: 13.5px;
    }
  }
}

input {
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &.name-error {
    border: 1px solid $color-red;
    margin-bottom: 8px;
  }

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }

  &[type="date"] {
    padding: 13.4px;
  }

  &[type="checkbox"] {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 0px;
    appearance: auto;
    -moz-appearance: auto;
    -webkit-appearance: auto;
    box-shadow: unset;
  }
}

button {
  display: block;
  width: 100%;
  border: 1px solid $color-red;
  color: $color-red;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  margin-inline: auto;
  cursor: pointer;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }

  @media (min-width: 754px) {
    width: 50%;
  }
}